body {
    background-color: burlywood;
}

header,
h1 {
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    font-size: larger;
}

h1 {
    color:Beige;
}

img {
    width: 700px;
    height: auto;
    padding: 10px;
    border-style: solid;
    border-color: beige;
}

.list {
    border: 4px ridge rgb(231, 199, 156);
    border-radius: 1%;
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: wrap;
}

#ingredients {

    width: 400px;
}