body {
    background-color: burlywood;
}
h1 {
    color: beige;
    text-align: center;
}

#recipe {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
    
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    background-color: darkslategray;
}


li a {
    color: beige;
    padding: 16px;
    text-align: center;
}

li a:hover {
    background-color: rgb(68, 122, 126);
}
