body {
    background-color: burlywood;
}
header {
    color: beige;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}

#recipe {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
    
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
    width: 100%
}

li {
    background-color: darkslategray;
}


li a {
    color: beige;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(68, 122, 126);
}
